<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attuality Store</title>
  <link rel="icon" type="image/x-icon" href="/favico.ico">
  <link rel="stylesheet" href="/css/app.css" type="text/css"> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
</head>
<body 
class="bg-background flex flex-col min-h-screen font-main">

  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %> 

  <div class="flex flex-col justify-center h-full lg:mt-14 md:mt-12 mt-8 lg:mb-24 mb-20">
    <form class="lg:mt-8 md:mt-7 mt-6 lg:mb-24 mb-20 lg:w-400px md:w-330px w-280px mx-auto" action="/forgotpassword/verified/<%= token %>" method="POST">
      <div class="flex flex-col gap-2 md:mb-10 mb-6">
        <h1 class="lg:text-20px text-center text-16px font-semibold mx-auto">Cambia la tua password</h1>
        <p class="sm:text-16px text-14px mx-auto">Per favore inserisci la nuova password</p>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="password" name="password" maxlength="40" id="floating_password" class="block py-2 px-0 w-full text-16px text-black bg-transparent border-0 border-b-2 border-t-2 border-t-transparent border-b-black appearance-none focus:outline-none focus:ring-0 focus:border-b-primary peer" placeholder=" " required />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="password" name="confirm_password" maxlength="40" id="floating_confirm-password"
          class="block py-2 px-0 w-full text-16px text-black bg-transparent border-0 border-b-2 border-t-2 border-t-transparent border-b-black appearance-none focus:outline-none focus:ring-0 focus:border-b-primary peer"
          placeholder=" " required />
        <label for="floating_confirm-password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
      </div>
  
      <div class="flex justify-center">
        <button type="submit" class="bg-primary border focus:ring-none focus:outline-none font-semibold mt-3 text-black lg:text-16px text-14px w-full lg:py-2 py-1.5 text-center">CAMBIA LA PASSWORD</button>
      </div>
  
    </form>
  </div>
    
  <%- include('../partials/footer') %>
  <%- include('../partials/navbar-end') %>

</body>
</html>

<script>
  var password = document.getElementById("floating_password")
    , confirm_password = document.getElementById("floating_confirm-password");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>